<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>


<p>
  <%= link_to new_network_path, method: :get do %>
    Add a new netwrok <img src="<%= asset_path('add.svg') %>" alt="" width='20px' height='20px'>
  <% end %>
</p>
<p>
  <%= link_to networks_path, method: :get do %>
    View all Networks
  <% end %>
</p>
<p>
  <%= link_to new_decoy_template_path, method: :get do %>
    Add a new decoy template (internal use) <img src="<%= asset_path('add.svg') %>" alt="" width='20px' height='20px'>
  <% end %>
</p>
<p>
  <%= link_to decoy_templates_path, method: :get do %>
    View all decoy templates (internal use)
  <% end %>
</p>
<p>
  <%= link_to new_decoy_path, method: :get do %>
    Add a new decoy <img src="<%= asset_path('add.svg') %>" alt="" width='20px' height='20px'>
  <% end %>
</p>
<p>
  <%= link_to decoys_path, method: :get do %>
    View all Decoys
  <% end %>
</p>

